<div class="container">

    <div id="batchesView">
        <div id="alertRow" class="row">
            <alertbar></alertbar>
        </div>

        <!-- Header -->
        <div id="heading" class="row">
            <div id="left-heading" class="col-md-2">
                <h1>Batches</h1>
            </div>
            <div id="right-heading" class="col-md-offset-2 col-md-8">
                <div id="search">
                    <div class="input-group">
                        <input type="text" class="form-control search" placeholder="Search Batch Names..." ng-model="searchparams.batchName" ng-change="getBatches()">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                    </div><!-- /input-group -->
                </div>
                <div id="create-batch-button">
                    <button type="button" class="btn btn-primary" ng-click="goto('/batch')">Create Batch</button>
                </div>
            </div>
        </div>


        <!-- Batches/Main Content -->

        <accordion close-others="true">
            <div id="batches" class="row" dir-paginate="batch in batches | itemsPerPage: 10">
                <accordion-group id="batch_{{batch.id}}" class="{{batch.class}}" panel-class="{{batch.class}}" is-open="false">
                    <accordion-heading>
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> [{{ batch.id }}] {{ batch.name }}
                        {{ "(" + batch.status + ")"}}
                    </accordion-heading>

                    <div class="panel-body">
                        <div id="batch_{{batch.id}}-table">
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>Batch Upload Date</th>
                                    <th># of Records</th>
                                    <th>Original Batch File</th>
                                    <th># of Unvalidated Records</th>
                                    <th>Post-Validation Batch File</th>
                                </tr>
                                <tr>
                                    <td>{{ batch.original.uploadDate | date:'medium'}}</td>
                                    <td>{{ batch.numberOfRecords }}</td>
                                    <td><a href="" ng-click="downloadAttachment(batch.original.id)">download</a></td>
                                    <td>{{ batch.numberOfUnvalidatedRecords }}</td>
                                    <td><a href="" ng-click="downloadAttachment(batch.postValidation.id)">download</a></td>
                                </tr>
                            </table>
                            <div>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Assignment</th>
                                        <th>Created</th>
                                        <th>Records in Assigment</th>
                                        <th>Original Assignment</th>
                                        <th>Completed Assignment</th>
                                        <th>Completed Date</th>
                                        <th>Status</th>
                                        <th>Billable Hours</th>
                                        <th>Delete?</th>
                                    </tr>
                                    <tr ng-repeat="assignment in batch.assignments">
                                        <td>{{ assignment.isAutoGenerated ? "Failed Default Validations" : assignment.userAccount.fname + " " + assignment.userAccount.lname}}</td>
                                        <td>{{ assignment.originalAssignment.uploadDate | date:'medium'}}</td>
                                        <td>{{ assignment.numberOfRecords }}</td>
                                        <td><span ng-show="!assignment.isAutoGenerated"><a href="" ng-click="downloadAttachment(assignment.originalAssignment.id)">download</a></span></td>
                                        <td>
                                            <span ng-show="!assignment.isAutoGenerated && !batch.compiled"> <a href="" ng-click="goto('/assignment/complete/' + assignment.id)">upload</a></span>
                                            <span ng-show="assignment.completedExists && !assignment.isAutoGenerated && !batch.compiled"> | </span>
                                            <span ng-show="assignment.completedExists || assignment.isAutoGenerated">
                                                <a href="" ng-click="goto(assignment.id)">history</a>
                                            </span>
                                        </td>
                                        <td>{{ assignment.completedDate | date:'medium'}}</td>
                                        <td ng-class="!(assignment.isAutoGenerated) ? assignment.class : ''"> <span ng-show="!assignment.isAutoGenerated">{{ assignment.status }} </span></td>
                                        <td>
                                            <span ng-show="!assignment.isAutoGenerated && (assignment.status == 'COMPLETED' || assignment.status == 'NEEDS_HOURS')">{{ assignment.billableHours }} <a href="" ng-click="goto('/hours/' + assignment.id)">(set)</a>
                                            <a href="" ng-show="assignment.billableHours" ng-click="clearHours(batch.id, assignment.id)">(clear)</a></span></td>
                                        <td>
                                            <span ng-show="!assignment.isAutoGenerated && !batch.compiled"><a href="" ng-click="deleteAssignment(batch.id, assignment.id)"><i class="glyphicon glyphicon-remove redglyph"></i></a></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div ng-show="!batch.compiled">
                                <a href ng-click="goto('/assignment/' + batch.id)"><i class="glyphicon glyphicon-plus"></i> Add Assignment</a>
                            </div>
                            <div ng-show="!batch.compiled && batch.status == 'COMPLETED'">
                                <a href ng-click="startReview(batch.id)"><i class="glyphicon glyphicon-plus"></i> Review Assigments</a>
                            </div>
                            <div ng-show="batch.compiled">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Assignment Completion Date</th>
                                        <th>Compiled Assignments File</th>
                                        <th>Completed Review</th>
                                        <th>Cancel Review?</th>
                                    </tr>
                                    <tr>
                                        <td>{{ batch.compiled.uploadDate | date:'medium'}}</td>
                                        <td><a href="" ng-click="downloadAttachment(batch.compiled.id)">download</a></td>
                                        <td><a href="" ng-click="goto('/batch/reviewComplete/' + assignment.id)">upload</a>
                                            <span ng-show="batch.reviewedExists">
                                                | <a href="" ng-click="goto('/batch/reviewComplete/' + assignment.id)">history</a>
                                            </span>
                                        </td>
                                        <td><a href="" ng-click="cancelReview(batch.id)"><i class="glyphicon glyphicon-remove redglyph"></i></a></td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                    </div>
                </accordion-group>
            </div>
        </accordion>

        <!-- Pagination Buttons -->
        <div class="row">
            <div class="col-md-12 text-center">
                <dir-pagination-controls></dir-pagination-controls>
            </div>
        </div>

    </div>

</div>