<div class="container">

    <div id="batchesView">
        <div id="alertRow" class="row">
            <alertbar></alertbar>
        </div>

        <!-- Batches/Main Content -->

        <accordion close-others="true">
            <div id="batches" class="row" dir-paginate="uploadedAttachments">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Download Link</th>
                        <th>ID</th>
                        <th>Upload Date</th>
                        <th>Number of Bytes</th>
                    </tr>
                    <tr ng-repeat="attachment in attachments">
                        <td><a href="" ng-click="downloadAttachment(attachment.id)">download</a></td>
                        <td>{{ attachment.fileName }}</td>
                        <td>{{ attachment.uploadDate }}</td>
                        <td>{{ attachment.numberOfBytes }}</td>
                    </tr>
                </table>
            </div>
        </accordion>


    </div>

</div>